    <div class="row">
            <div class="col-md-4 col-sm-12 extraCSS">
                    <div class="widget widget-default widget-item-icon shadow-helper">
                        <div class="widget-item-left marhelp"><span class="theme-img-site"></span>
                        </div>
                        <div class="widget-data padhelp">
                            <div class="widget-int num-count lynhgt">
                                <span class="font24">678</span>
                            </div>
                            <div class="widget-title font12">Testing </div>
                        </div>
                    </div>
            </div>
    </div>
    <div class="row">
            <div class="col-md-4 col-sm-12 extraCSS">
                    <div class="panel panel-default class1 class2 class3">
                        <div class="panel-heading class1 class2 class3">
                            <h3 class="panel-title">
                                Testing
                            </h3>
                            <ul class="panel-controls">
                                    <li class="" filter-date></li>
                                    <li class="" filter-maximise></li>
                            </ul>
                        </div>
                        <div class="panel-body class1 class2 class3">
                            <div testing-dynamic-creation></div>
                        </div>
                    </div>
            </div>
    </div>







