<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#tab1" data-toggle="tab" aria-expanded="true">HTML</a></li>
    <li class=""><a href="#tab2" data-toggle="tab" aria-expanded="false">CSS</a></li>
    <li class=""><a href="#tab3" data-toggle="tab" aria-expanded="false">Javascript</a></li>
</ul>
<div class="panel-body tab-content">
    <div class="tab-pane active" id="tab1">
        <p>Curabitur porttitor, lacus et mattis consequat, <strong>lectus augue</strong> molestie enim, nec dignissim
            felis eros at nibh.</p>

        <p>Nulla vitae sodales est, eu imperdiet mauris <a href="#">click here</a>.</p>

        <p>Sed augue risus, tempor vitae metus ac, bibendum elementum erat. Mauris volutpat at nulla sit amet
            ullamcorper.</p>
    </div>
    <div class="tab-pane" id="tab2">
        <p><strong>Etiam eu augue</strong> — ac augue bibendum finibus. <i>Quisque aliquam mi eget consectetur
            finibus</i>. Duis ornare velit a diam auctor iaculis. Donec vitae rutrum est, nec convallis nulla.</p>

        <p>Nulla laoreet viverra nisi.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at finibus risus. Fusce suscipit, neque vel
            sodales suscipit.</p>
    </div>
    <div class="tab-pane" id="tab3">
        <p>Integer fringilla, augue in eleifend vehicula, sapien sem hendrerit sapien,</p>

        <p>Praesent a tincidunt nisi, eget placerat eros. Sed ullamcorper metus quis dui malesuada, vitae rutrum nibh
            feugiat.</p>

        <p>Vivamus lacinia, leo eu cursus commodo, diam nunc suscipit tellus, in viverra nulla magna ut enim. </p>
    </div>
</div>